.errorContainer {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 15px;
  border: 1px solid rgb(185, 94, 94);
  background-color: #fdd;
  color: #000;
  border-radius: 4px;
}

.errorMessage {
  font-size: 16px;
}
